    
.logo {
  font-weight: bold;
  background-color: rgb(8, 226, 215);
}

.summarytext:hover text {
  opacity: 0.2;
}

img {
  width: 240px;
  transition: width 1s;
}

img:hover, img:focus {
  width: 520px;
}

h1 {
  color: rgb(8, 226, 215)
}

h2 {
  color: rgb(8, 226, 215)
}

h3 {
  color: rgb(8, 226, 215)
}

tr:nth-child(even) {background-color: #f2f2f2;}

.border { border-width: 5px; border-color: rgb(8, 226, 215); border-style: solid; }

